/* Defaults, whole web page has there properties */
body {
	color: white;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}



/* Font sizes for different parts */
.large {
	font-size: 50px;
}

.desc {	
	font-size: 20px;
}

.hat {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

/* Wizard hat positioning for the hazy image effect */
.haze {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	filter: blur(6px) opacity(0.5);
}

/* Black square buttons */
button {
    background-color: #222222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Regular text */
p {
	padding: 0px;
	margin: 0px;
}

/* Link text */
a {
    color: pink;
}













