
.button {
	position: absolute;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
	z-index: 2;
}

.button:hover {
  background-color: green;
}

.chat{
	position: relative;
  margin:10px;
	opacity:0.7;
}

textarea {
   resize: none;
}

label {
  display: inline-block;
  text-align: right;
}

#login-container{
	position: absolute;
	margin:50px;
	left: 35%;
}
#username-input{
	margin:10px;
}
#password-input{
	margin:10px;
}

#glCanvas{
	top: 5px;
	left: 5px;
	position: absolute;
	z-index: 1;
}

#gamecontainer{
	position: relative;
}

#hud{
	position: absolute;
	z-index: 2;
}

