
/* DROP DOWN MENU */

/* container for model button */
.model_menu, .basic_menu, .animal_menu {
  position: relative;
  display: inline-block;
}
/* model button */
.models_button {
  background-color: #04AA6D;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* model types buttons */
.model_types_list button {
  /*min-width: 100px;*/
  border: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

/* types list */
.model_types_list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* basic list */
.basic_list, .animal_list {
  top: 0;
  left: 100%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* basic list buttons */
.basic_list button, .animals_list button {
  /*min-width: 100px;*/
  border: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

/* on hover change color model button*/
.model_types_list button:hover {background-color: #ddd;}

/* on hover change color model types */
.model_menu:hover .models_button {background-color: #36d6a9;}

/* on hover show model types */
.model_menu:hover .model_types_list {display: block;}

/* on hover show models */
.basic_menu:hover .basic_list {display: block;}
.animal_menu:hover .animal_list {display: block;}
